<div class="book-detail">
  <h1>{{book.info.title.default}}</h1>
  <h2>{{book.info.options.authors}}</h2>
  <img ng-src="https://storage.aggregion.com/api/files/{{book.info.cover}}/shared/data" alt=""
       onerror="this.src = 'https://storage.aggregion.com/api/files/12ce171be47031a58f6d12ddefca93d52bda709b1b720d50cf48747d6cd44cb6/shared/data';">
  <p>{{book.info.description.default}}</p>
  <md-list>
    <md-subheader>List of bundles book:</md-subheader>
    <md-list-item ng-repeat="bundle in book.bundles">
      <a ng-href="https://storage.aggregion.com/api/files/{{bundle.resourceId}}/shared/data" download target="_blank">
        <p>{{bundle.id}}</p>
      </a>
    </md-list-item>
  </md-list>
</div>
